@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
  font-size: 12px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
}

.hero-1 {
  content: url(images/desktop-image-hero-1.jpg);
}

.hero-2 {
  content: url(images/desktop-image-hero-2.jpg);
}

.hero-3 {
  content: url(images/desktop-image-hero-3.jpg);
}