@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
  font-size: 12px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.nav {
  position: absolute;
  top: 2rem;
  left: 4rem;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 3rem;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2rem;
  color: #fff;
  font-size: 1.25rem;
}

.galleryImg {
  grid-column: 1 / 5;
  grid-row: 1 / 7;
  width: 100%;
  height: 100%;
}

.galleryImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galleryText {
  grid-column: 5 / 8;
  grid-row: 1 / 6;
  padding: 4rem;
}

.bottomLeft {
  grid-column: 1 / 3;
  grid-row: 7 / 10;
}

.bottomCenter {
  grid-column: 3 / 6;
  grid-row: 7 / 10;
}

.bottomRight {
  grid-column: 6 / 8;
  grid-row: 7 / 10;
}

.btnWrapper {
  grid-column: 5 / 6;
  grid-row: 6 / 7;
}

.bottomLeft img,
.bottomRight img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btnWrapper {
  display: flex;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: black;
  cursor: pointer;
}

.galleryTextHeader {
  font-size: 3rem;
}

.galleryTextBody {
  line-height: 2rem;
}

.galleryTextLink {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  transition: 200ms;
}

.galleryTextLink:hover {
  cursor: pointer;
  letter-spacing: 6px;
}

.galleryTextLink::after {
  position: absolute;
  top: 50%;
  right: -2rem;
  transform: translate(100%, -50%);
  content: url(images/icon-arrow.svg);
}

.bottomCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}

.aboutTitle {
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.aboutBody {
  line-height: 2rem;
}

.displayNone {
  display: none;
}

@media (max-width: 970px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .btnWrapper {
    order: -1;
    width: 8rem;
    align-self: flex-end;
    transform: translate(-29%, -100%);
  }

  .galleryImg {
    order: -2;
  }

  .btn {
    padding: 2rem;
  }
}
